# ====================================================================
# Windows 系統暫存與快取
# ====================================================================
# 縮圖快取檔案
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# 資料夾檢視設定
Desktop.ini

# 應用程式損毀傾印與捷徑
*.lnk
*.stackdump


# ====================================================================
# macOS 系統暫存與快取
# ====================================================================
# 隱藏的系統資料夾與索引快取
.DS_Store
.AppleDouble
.LSOverride

# 圖示與搜尋索引
Icon?
._*

# 聚光燈 (Spotlight) 與垃圾桶快取
.Spotlight-V100
.Trashes


# ====================================================================
# Linux 系統暫存與快取
# ====================================================================
# 核心傾印與暫存檔
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*